 <!-- footer  -->
 <footer id = "footer" class = "footer text-center">
    <div class = "container">
        <div class = "footer-inner text-white py grid">
            <div class = "footer-item">
                <h3 class = "footer-head">about us</h3>
                <div class = "icon">
                    <img src = "">
                </div>
                <p class = "text text-md">Meditrack is more than a service—it’s a commitment to your health. We ensure timely, reliable medicine deliveries, so you never have to worry about missing a dose!</p>
                <ul>
                    <h3 class="footer-head"></h3>
                    <li>Order Medicine</li>
                    <li>HealthCare Products</li>
                    <li>Health Blog</li>
                </ul>
            </div>

            <div class = "footer-item">
                <h3 class = "footer-head">tags</h3>
                <ul class = "tags-list flex">
                    <li>COVID Essentials</li>
                    <li>Personal Care</li>
                    <li>Health Food & Drinks</li>
                    <li>Supplements</li>
                    <li>Mother & Baby Care</li>
                    <li>Home Care</li>
                </ul>
            </div>

            <div class = "footer-item">
                <h3 class = "footer-head">Quick Links</h3>
                <ul>
                    <li><a href = "#" class = "text-white">Our Services</a></li>
                    <li><a href = "#" class = "text-white">Our Plan</a></li>
                    <li><a href = "#" class = "text-white">Privacy Policy</a></li>
                    
                </ul>
            </div>

            <div class = "footer-item">
                <h3 class = "footer-head">Make your first Order</h3>
                <p class = "text text-md">Customer Support Here for You.</p>
                <ul class = "appointment-info">
                    <li>8:00 AM - 11:00 AM</li>
                    <li>2:00 PM - 05:00 PM</li>
                    <li>8:00 PM - 11:00 PM</li>
                    <li>
                        <i class = "fas fa-envelope"></i>
                        <span>meditrack@gmail.com</span>
                    </li>
                    <li>
                        <i class = "fas fa-phone"></i>
                        <span>+02 2411-5401</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class = "footer-links">
            <ul class = "flex">
                <li><a href = "#" class = "text-white flex"> <i class = "fab fa-facebook-f"></i></a></li>
                <li><a href = "#" class = "text-white flex"> <i class = "fab fa-twitter"></i></a></li>
                <li><a href = "#" class = "text-white flex"> <i class = "fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- end of footer  -->